* {
   font: normal 16px "Arial";
}

.todo {
   width: 600px;
   margin: 20px auto;
}

.todo__header {
   background-color: #c22929;
   padding-top: 20px;
   padding-bottom: 20px;
}

.todo__headline {
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   color: white;
}

.todo__item,
.todo__add {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px 10px 20px 0;
   border-bottom: 1px solid gray;
}

.todo__item > *,
.todo__add > *{
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.todo__checkbox {
   height: 30px;
   width: 30px;
}

.todo__discription {

}

.todo__button {
   margin-left: auto;
}

.checkbox {
   width: 30px;
   height: 30px;
}